.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  list-style: none;
}
.gallery-item {
  flex-basis: calc(33.333% - 24px);
}

.gallery-image {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
}

.gallery-item:hover {
  transform: scale(1.1);
}
